/* Use your own code or past solution for Great Idea Web Page CSS here! */
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

/* ######## Genaric Elements ######## */

body{
	width: 900px;
	margin: 0 auto;
}

header{
	display: flex;
	justify-content: space-between;
}

nav a{
	text-decoration: none;
	color: rgb(179, 179, 179);
	padding: 20px;
}

nav a:hover{
	background-color: black;
	color: white;
}

h1{
	font-size: 45px;
}

h2{
	font-size: 20px;
}

p{
	text-align: justify;
	line-height: 1.2em;
	font-size: 18px;
}

ul{
	list-style: square;
	line-height: 2em;
	margin-left: 20px;
}

/* ######## Custom ######## */

nav.topnav{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	margin: 25px;
}

.headerBox{
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom: 2px solid black;
	border-width: 100%;
}

.index-header{
	display: flex;
	justify-content: space-between;
}

.index-header-img{
	display: flex;
	align-items: center;
	margin-left: 100px;
}

h1.mainHeading{
	font-size: 75px;
	text-align: center;
}

button.getStarted{
	background-color: white;
	padding: 10px 35px;
	border: 1px inset black;
}

button.getStarted:hover{
	background-color: black;
	color: white;
	border-color: gray;
}

.codeSnipet{
	margin: 60px 0 75px 0;
}

/* ######## Main ######## */

.topText{
	margin: 35px 0;
	display: flex;
}

.featuresPadding{
	padding: 0 20px 0 0;
}

.aboutPadding{
	padding: 0 0 0 20px;
}

img.middle-img{
	width: 100%
}

.bottomText{
	margin: 35px 0;
	display: flex;
	border-bottom: 2px solid black;
}

.servicesPadding{
	padding: 0 10px 0 0;
}

.productPadding{
	padding: 0 10px;
	margin: 0 0 35px 0;
}

.visionPadding{
	padding: 0 0 0 10px;	
}

p.address a{
	text-decoration: none;
	color: black;
}

p.address a:hover{
	text-decoration: underline;
	color: blue;
}

.copyright{
	text-align: center;
	font-size: 15px;
	margin: 50px 0 80px 0;
}

/* ######## services.html ######## */

body.servicesBody{
	margin: 0 450px;
}

.main-border{
	border-bottom: 2px solid black;
	padding-bottom: 30px;
}

.servicesHeader{
	margin: 50px 0 30px 0;
}

.services-header-img{
	width: 100%;
}

.row{
	display: flex;
	justify-content: space-between;
}

.box{
	width: 48%;
	margin: 25px 0;
	padding: 20px;
	border: 2px solid gray;
	background-color: rgb(236, 236, 236);
}

.paragraph-margin{
	margin-bottom: 20px;
}

.paragraph-border{
	border-bottom: 2px solid black;
	padding-bottom: 50px;
}

.services-footer{
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}

.some-facts{
	margin: 15px 35px 0 0;
}

/* ######## Mobile ######## */

@media screen and (max-width: 500px){
	
	body{
		width: 100%;
		margin: 0;
	}

	.index-header{
		flex-direction: column;
		align-content: center;
		flex-direction: column-reverse;
	}

	.index-header-img{
		margin: 20px auto;
	}

	nav.topnav{
		flex-direction: column;
		align-items: space-evenly;
		margin: 0;
		width: 100%;
	}
	
	nav.topnav a{
		margin: auto;
		width: 100%;
		text-align: center;
		padding: 15px auto;
		border-bottom: 2px solid rgb(179, 179, 179);
	}

	nav.topnav a:nth-child(1){
		border-top: 2px solid rgb(179, 179, 179);
	}

	nav .logo{
		display: flex;
		justify-content: space-evenly;
		margin: 15px auto;
		order: -1;
	}

	h1{
		padding-bottom: 55px;
	}

	img.codeSnipet{
		display: none;
	}

	/* ######## Main-mobile ######## */

	.topText{
		flex-direction: column;
	}

	.bottomText{
		flex-direction: column;
	}

	.featuresPadding, .aboutPadding,
	.servicesPadding, .productPadding,
	.visionPadding, .middle-img{
		padding: 15px;
	}

	.productPadding{
		margin: 0;
	}

	footer{
		padding: 15px;
	}
}

@media screen and (max-width: 800px){

	body, html{
		width: 100%;
		margin: 0;
	}

	nav.topnav{
		width: 100%;
		margin: 0 auto;
	}

	img.logo{
		margin: 20px auto;
	}

	.index-header{
		flex-direction: column;
		align-content: center;
		flex-direction: column-reverse;
	}

	.index-header-img{
		margin: 0 auto;
	}

	.codeSnipet{
		display: none;
	}

	h1.mainHeading{
		margin-bottom: 50px;
	}

	.featuresPadding, .aboutPadding,
	.servicesPadding, .productPadding,
	.visionPadding, .middle-img, footer{
		padding: 15px;
	}
}